In [1]:
#Improts
 
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sqlite3
import matplotlib.pyplot as plt

In [2]:
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory
 
database ='Country_Development_Indicators_Dataset.sqlite'

In [3]:
# Task 1: Connect to the Database
conn = sqlite3.connect(database)

In [4]:
query = """select *
           from sqlite_master
           where type='table';"""

tables = pd.read_sql(query, conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,Country,Country,2,"CREATE TABLE Country (\n CountryCode TEXT,\..."
1,table,CountryNotes,CountryNotes,186,CREATE TABLE CountryNotes (\n Countrycode T...
2,table,Series,Series,948,"CREATE TABLE Series (\n SeriesCode TEXT,\n ..."
3,table,Indicators,Indicators,4448,CREATE TABLE Indicators (\n CountryName TEX...
4,table,SeriesNotes,SeriesNotes,1317550,CREATE TABLE SeriesNotes (\n Seriescode TEX...
5,table,Footnotes,Footnotes,1317587,CREATE TABLE Footnotes (\n Countrycode TEXT...

In [5]:
# Task 2: Explore the Indicators Table

Indicators = pd.read_sql("""SELECT * 
                         FROM Indicators;""", conn)
Indicators

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
...,...,...,...,...,...,...
5656453,Zimbabwe,ZWE,Time required to register property (days),IC.PRP.DURS,2015,3.600000e+01
5656454,Zimbabwe,ZWE,Time required to start a business (days),IC.REG.DURS,2015,9.000000e+01
5656455,Zimbabwe,ZWE,Time to prepare and pay taxes (hours),IC.TAX.DURS,2015,2.420000e+02
5656456,Zimbabwe,ZWE,Time to resolve insolvency (years),IC.ISV.DURS,2015,3.300000e+00
5656457,Zimbabwe,ZWE,Total tax rate (% of commercial profits),IC.TAX.TOTL.CP.ZS,2015,3.280000e+01

In [6]:
# Task 3: Check the Number of Rows
rows_num = pd.read_sql("""SELECT COUNT(*) AS rows_num
                         FROM Indicators;""", conn)
rows_num

   rows_num
0   5656458

In [7]:
# Task4. Check for Missing Values in One Column
missing_value = pd.read_sql(""" SELECT COUNT(*) AS missing_count
                                FROM Indicators
                                WHERE Value IS NULL;""", conn)
missing_value

   missing_count
0              0

In [8]:
#Task 5. Filter Non-Null Values
not_null_val = pd.read_sql("""SELECT COUNT(*) AS not_null_value
                            FROM Indicators
                            WHERE Value IS NOT NULL;""", conn)
not_null_val

   not_null_value
0         5656458

In [9]:
# Task 6. Check for Missing Values in All Columns
any_missing = pd.read_sql("""
    SELECT COUNT(*) AS rows_with_any_null
    FROM Indicators
    WHERE 
        CountryCode IS NULL OR
        IndicatorCode IS NULL OR
        Year IS NULL OR
        Value IS NULL;
""", conn)
any_missing

   rows_with_any_null
0                   0

In [10]:
# Task 7. How Many Different Indicators Are There?
indicators_num = pd.read_sql("""
    SELECT COUNT(DISTINCT IndicatorName) AS num_indicators
    FROM Indicators;
""", conn)
indicators_num

   num_indicators
0            1344

In [11]:
# Task 8. Select Distinct Indicators
indicators_name = pd.read_sql("""
    SELECT DISTINCT IndicatorName AS indicators_name
    FROM Indicators;
""", conn)
indicators_name

                                        indicators_name
0     2005 PPP conversion factor, GDP (LCU per inter...
1     2005 PPP conversion factor, private consumptio...
2     ARI treatment (% of children under 5 taken to ...
3               Access to electricity (% of population)
4     Access to electricity, rural (% of rural popul...
...                                                 ...
1339  Women's share of population ages 15+ living wi...
1340  Youth literacy rate, population 15-24 years, b...
1341  Youth literacy rate, population 15-24 years, f...
1342  Youth literacy rate, population 15-24 years, g...
1343  Youth literacy rate, population 15-24 years, m...

[1344 rows x 1 columns]

In [12]:
# Task 9. Search for an Indicator Related to GDP
gdp_indicators = pd.read_sql("""
    SELECT DISTINCT  IndicatorName
    FROM Indicators
    WHERE IndicatorName LIKE '%GDP%';
""", conn)
gdp_indicators

                                        IndicatorName
0   2005 PPP conversion factor, GDP (LCU per inter...
1                 Agriculture, value added (% of GDP)
2                              Broad money (% of GDP)
3              CO2 emissions (kg per 2005 US$ of GDP)
4            CO2 emissions (kg per 2011 PPP $ of GDP)
..                                                ...
81                             Tax revenue (% of GDP)
82           Total natural resources rents (% of GDP)
83                                   Trade (% of GDP)
84                       Trade in services (% of GDP)
85  Water productivity, total (constant 2005 US$ G...

[86 rows x 1 columns]

In [13]:
# 10. Search for GDP Per Capita of Brazil in the Last 10 Years
gdp_brazil = pd.read_sql(""" SELECT *
                             From Indicators
                             WHERE CountryCode = 'BRA'
                                AND IndicatorName LIKE '%GDP%'
                                AND IndicatorName Like '%current US$%'
                                AND Year > 2004
                             ORDER BY year DESC ;  """,conn)
gdp_brazil

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2014,2.346076e+12
1,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,1.138442e+04
2,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2013,2.392082e+12
3,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2013,1.171100e+04
4,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2012,2.413136e+12
5,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2012,1.192251e+04
6,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2011,2.615235e+12
7,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2011,1.304242e+04
8,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2010,2.209433e+12
9,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2010,1.112425e+04
10,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2009,1.664586e+12
11,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2009,8.462508e+03
12,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2008,1.694585e+12
13,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2008,8.700455e+03
14,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2007,1.395938e+12
15,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2007,7.240924e+03
16,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2006,1.107802e+12
17,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2006,5.809189e+03
18,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2005,8.921032e+11
19,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2005,4.733164e+03

In [14]:
# 11. Compare Brazil’s GDP Per Capita with China’s
gdp_braz_Vs_chin = pd.read_sql(""" SELECT *
                             From Indicators
                             WHERE CountryCode IN ('BRA','CHN')
                                AND IndicatorName LIKE '%GDP%'
                                AND IndicatorName Like '%current US$%'
                                AND Year > 2004
                             ORDER BY year DESC ;  """,conn)
gdp_braz_Vs_chin

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2014,2.346076e+12
1,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,1.138442e+04
2,China,CHN,GDP at market prices (current US$),NY.GDP.MKTP.CD,2014,1.035483e+13
3,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,7.590016e+03
4,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2013,2.392082e+12
5,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2013,1.171100e+04
6,China,CHN,GDP at market prices (current US$),NY.GDP.MKTP.CD,2013,9.490603e+12
7,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2013,6.991854e+03
8,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2012,2.413136e+12
9,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2012,1.192251e+04
10,China,CHN,GDP at market prices (current US$),NY.GDP.MKTP.CD,2012,8.461623e+12
11,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2012,6.264644e+03
12,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2011,2.615235e+12
13,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2011,1.304242e+04
14,China,CHN,GDP at market prices (current US$),NY.GDP.MKTP.CD,2011,7.492432e+12
15,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2011,5.574187e+03
16,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2010,2.209433e+12
17,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2010,1.112425e+04
18,China,CHN,GDP at market prices (current US$),NY.GDP.MKTP.CD,2010,6.039659e+12
19,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2010,4.514941e+03
20,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2009,1.664586e+12
21,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2009,8.462508e+03
22,China,CHN,GDP at market prices (current US$),NY.GDP.MKTP.CD,2009,5.059420e+12
23,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2009,3.800475e+03
24,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2008,1.694585e+12
25,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2008,8.700455e+03
26,China,CHN,GDP at market prices (current US$),NY.GDP.MKTP.CD,2008,4.558431e+12
27,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2008,3.441221e+03
28,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2007,1.395938e+12
29,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2007,7.240924e+03
30,China,CHN,GDP at market prices (current US$),NY.GDP.MKTP.CD,2007,3.523094e+12
31,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2007,2.673294e+03
32,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2006,1.107802e+12
33,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2006,5.809189e+03
34,China,CHN,GDP at market prices (current US$),NY.GDP.MKTP.CD,2006,2.729784e+12
35,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2006,2.082183e+03
36,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2005,8.921032e+11
37,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2005,4.733164e+03
38,China,CHN,GDP at market prices (current US$),NY.GDP.MKTP.CD,2005,2.268599e+12
39,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2005,1.740097e+03

In [15]:
# 12. Check Brazil’s GDP Per Capita in the 1990s
gdp_brazil_1990 = pd.read_sql(""" SELECT *
                             From Indicators
                             WHERE CountryCode = 'BRA'
                                AND IndicatorName LIKE '%GDP%'
                                AND IndicatorName Like '%current US$%'
                                AND Year = 1990; """,conn)
gdp_brazil_1990

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,1990,4.619518e+11
1,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,1990,3.071628e+03

In [16]:
# 13. Check Indicators for Brazil, China, and India in 2014
gdp_2014 = pd.read_sql(""" SELECT *
                             From Indicators
                             WHERE CountryCode IN ('BRA', 'CHN', 'IND')
                                AND Year = 2014; """,conn)
gdp_2014

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Brazil,BRA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2014,6.731060e+01
1,Brazil,BRA,Age dependency ratio (% of working-age populat...,SP.POP.DPND,2014,4.514289e+01
2,Brazil,BRA,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,2014,1.099505e+01
3,Brazil,BRA,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,2014,3.414784e+01
4,Brazil,BRA,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,2014,4.011718e+00
...,...,...,...,...,...,...
1860,India,IND,Urban population (% of total),SP.URB.TOTL.IN.ZS,2014,3.236600e+01
1861,India,IND,Urban population growth (annual %),SP.URB.GROW,2014,2.382741e+00
1862,India,IND,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.CD,2014,5.763740e+09
1863,India,IND,Value lost due to electrical outages (% of sales),IC.FRM.OUTG.ZS,2014,3.700000e+00
1864,India,IND,Wholesale price index (2010 = 100),FP.WPI.TOTL,2014,1.299643e+02

*** Part 2: Aggregating and Summarizing

In [17]:
# 1. Search for the Highest GDP Per Capita in 2014
highest_GDP  = pd.read_sql("""  SELECT CountryName, MAx(Value) AS MAX_GDP
                                From Indicators
                                WHERE IndicatorName LIKE '%GDP%'
                                AND IndicatorName Like '%current US$%'
                                AND Year = 2014; """,conn)
highest_GDP

  CountryName         MAX_GDP
0       World  77845107169905

In [18]:
# 2. Reaffirm the Highest GDP Per Capita
highest_GDP_raff = pd.read_sql(""" SELECT CountryName, Value
                             From Indicators
                             WHERE  IndicatorName LIKE '%GDP%'
                                AND IndicatorName Like '%current US$%'
                                AND Year = 2014
                               group by countryName
                                ORDER BY Value DESC; """,conn)
highest_GDP_raff

               CountryName         Value
0                    World  7.784511e+13
1              High income  5.281258e+13
2             OECD members  4.880468e+13
3        High income: OECD  4.671120e+13
4      Low & middle income  2.506312e+13
..                     ...           ...
210  Micronesia, Fed. Sts.  3.180720e+08
211                  Palau  2.506256e+08
212       Marshall Islands  1.867166e+08
213               Kiribati  1.667568e+08
214                 Tuvalu  3.785955e+07

[215 rows x 2 columns]

In [19]:
# 3. Compare the Averages of GDP Per Capita
avg_gdp = pd.read_sql(""" SELECT CountryName, AVG(Value) AS AVG_GDP_per_country
                             From Indicators
                             WHERE  IndicatorName LIKE '%GDP%'
                                AND IndicatorName Like '%current US$%'
                                AND Year = 2014
                             group by countryName 
                             ORDER BY AVG(Value) DESC; """,conn)
avg_gdp

               CountryName  AVG_GDP_per_country
0                    World         3.892255e+13
1              High income         2.640629e+13
2             OECD members         2.440234e+13
3        High income: OECD         2.335560e+13
4      Low & middle income         1.253156e+13
..                     ...                  ...
210  Micronesia, Fed. Sts.         1.590375e+08
211                  Palau         1.253187e+08
212       Marshall Islands         9.336008e+07
213               Kiribati         8.337916e+07
214                 Tuvalu         1.893169e+07

[215 rows x 2 columns]

In [20]:
# 4. How Many Measures During This Time?
measures = pd.read_sql(""" SELECT Year, COUNT(*) AS measures
                             From Indicators
                             WHERE  Year > 2004
                             GROUP BY Year
                             ORDER BY Year DESC; """,conn)
measures

    Year  measures
0   2015     14762
1   2014    107389
2   2013    156876
3   2012    175147
4   2011    176063
5   2010    187206
6   2009    178578
7   2008    179825
8   2007    180354
9   2006    177119
10  2005    180506

In [21]:
# 5. Note on Angola's Data
Angola_measures = pd.read_sql(""" SELECT CountryName, Year, COUNT(*) AS measures
                             From Indicators
                             WHERE  Year > 2004
                             GROUP BY CountryName, Year
                             ORDER BY Year DESC, measures ASC; """,conn)
Angola_measures

                    CountryName  Year  measures
0      Turks and Caicos Islands  2015         4
1      St. Martin (French part)  2015         4
2     Sint Maarten (Dutch part)  2015         4
3                   Isle of Man  2015         4
4                Faeroe Islands  2015         4
...                         ...   ...       ...
2711                 Bangladesh  2005      1074
2712                    Georgia  2005      1077
2713                       Peru  2005      1087
2714                   Colombia  2005      1087
2715                    Moldova  2005      1097

[2716 rows x 3 columns]

Part 3: JOINs

In [22]:
# 1. Join to Get GDP-Related Information in 2014 for Brazil
gdp_brazil_2014 = pd.read_sql(""" SELECT * 
                                  FROM  Country AS c 
                                  INNER JOIN Indicators AS i 
                                  ON c.CountryCode = i.CountryCode
                                  WHERE CountryName = 'Brazil'
                                     AND Year =2014;""",conn)
gdp_brazil_2014

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,BRA,Brazil,Brazil,Federative Republic of Brazil,BR,Brazilian real,,Latin America & Caribbean,Upper middle income,BR,...,2006,2011,2013,2010,Brazil,BRA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2014,6.731060e+01
1,BRA,Brazil,Brazil,Federative Republic of Brazil,BR,Brazilian real,,Latin America & Caribbean,Upper middle income,BR,...,2006,2011,2013,2010,Brazil,BRA,Age dependency ratio (% of working-age populat...,SP.POP.DPND,2014,4.514289e+01
2,BRA,Brazil,Brazil,Federative Republic of Brazil,BR,Brazilian real,,Latin America & Caribbean,Upper middle income,BR,...,2006,2011,2013,2010,Brazil,BRA,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,2014,1.099505e+01
3,BRA,Brazil,Brazil,Federative Republic of Brazil,BR,Brazilian real,,Latin America & Caribbean,Upper middle income,BR,...,2006,2011,2013,2010,Brazil,BRA,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,2014,3.414784e+01
4,BRA,Brazil,Brazil,Federative Republic of Brazil,BR,Brazilian real,,Latin America & Caribbean,Upper middle income,BR,...,2006,2011,2013,2010,Brazil,BRA,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,2014,4.011718e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,BRA,Brazil,Brazil,Federative Republic of Brazil,BR,Brazilian real,,Latin America & Caribbean,Upper middle income,BR,...,2006,2011,2013,2010,Brazil,BRA,Urban population,SP.URB.TOTL,2014,1.760585e+08
654,BRA,Brazil,Brazil,Federative Republic of Brazil,BR,Brazilian real,,Latin America & Caribbean,Upper middle income,BR,...,2006,2011,2013,2010,Brazil,BRA,Urban population (% of total),SP.URB.TOTL.IN.ZS,2014,8.543300e+01
655,BRA,Brazil,Brazil,Federative Republic of Brazil,BR,Brazilian real,,Latin America & Caribbean,Upper middle income,BR,...,2006,2011,2013,2010,Brazil,BRA,Urban population growth (annual %),SP.URB.GROW,2014,1.193505e+00
656,BRA,Brazil,Brazil,Federative Republic of Brazil,BR,Brazilian real,,Latin America & Caribbean,Upper middle income,BR,...,2006,2011,2013,2010,Brazil,BRA,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.CD,2014,4.182827e+09
657,BRA,Brazil,Brazil,Federative Republic of Brazil,BR,Brazilian real,,Latin America & Caribbean,Upper middle income,BR,...,2006,2011,2013,2010,Brazil,BRA,Wholesale price index (2010 = 100),FP.WPI.TOTL,2014,1.283896e+02